<p>
  <strong>Name:</strong>
  <%= @beer_style.name %>
</p>

<div class="form-inline">
  <%= button_to 'Edit', edit_beer_style_path(@beer_style), class: "btn btn-primary mr-2", method: :get %>
  <%= button_to 'Back', beer_styles_path, class: "btn btn-secondary", method: :get %>
</div>
