<%= render 'form', currency: @currency %>

<div class="form-inline">
  <%= button_to 'Show', @currency, class: "btn btn-secondary mr-2", method: :get %>
  <%= button_to 'Back', currencies_path, class: "btn btn-secondary", method: :get %>
</div>
