<h1>Editing Serving Format</h1>

<%= render 'form', serving_format: @serving_format %>

<div class="form-inline">
  <%= button_to 'Show', @serving_format, class: "btn btn-secondary mr-2", method: :get %>
  <%= button_to 'Back', serving_formats_path, class: "btn btn-secondary", method: :get %>
</div>
