<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @serving_format.name %>
</p>

<%= link_to 'Edit', edit_serving_format_path(@serving_format) %> |
<%= link_to 'Back', serving_formats_path %>
