<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @brewery.location %>
</p>

<div class="form-inline">
  <%= button_to 'Edit', edit_brewery_path(@brewery), class: "btn btn-primary mr-2", method: :get %>
  <%= button_to 'Back', breweries_path, class: "btn btn-secondary", method: :get %>
</div>
