<h1>Editing Tasting</h1>

<%= render 'form', tasting: @tasting %>

<div class="form-inline">
  <%= button_to 'Show', @tasting, class: "btn btn-secondary mr-2", method: :get %>
  <%= button_to 'Back', tastings_path, class: "btn btn-secondary", method: :get %>
</div>
