<%= render 'form', beer: @beer %>

<div class="form-inline">
  <%= button_to 'Show', @beer, class: "btn btn-secondary mr-2", method: :get %>
  <%= button_to 'Back', beers_path, class: "btn btn-secondary", method: :get %>
</div>
